body { padding-top: 70px; padding-bottom: 70px; }

footer {
  margin-top:50px;
}

img.logo {
  width:40px;
  margin-top:5px;
  margin-right:10px;
}

.navbar *{
  color:#ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", 'Arial Narrow', Arial, sans-serif;
}

.stat-label{
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size:1.5em;
  margin-bottom:-0.7em;
  color:gray;
}
.stat-value{
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size:2.5em;
  color: #BE1218;
}

.graph{
  margin:1em;
}
