body { padding-top: 70px; padding-bottom: 70px; }

img.logo {
  width:40px;
  margin-top:5px;
  margin-right:10px;
}

.navbar *{
  color:#ffffff;
}

.stat-label{
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size:1.5em;
  margin-bottom:-0.7em;
  color:gray;
}
.stat-value{
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size:3.5em;
}

